.hero {
  max-width: 100%;
  min-width: 100%;
  max-height: 22rem;
  min-height: 20rem;
  background-image: url('../img/home/hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #F7F8F9;
  margin-bottom: 2rem;
}

.hero h2 {
  margin: 10rem;
  background-color: rgba(0, 0, 0, 0.4);
  color: #F7F8F9;
  font-size: inherit;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 16px;
  text-align: center;
  padding: 1rem 1rem;
  border: 2px solid #F7F8F9;
  transition: .3s;
}

.hero h2:hover {
  background-color: rgba(0, 0, 0, 0.2);
  transition: .3s;
  cursor: pointer;
}

.products {
  padding: 0 5rem 6rem 5rem;
}

.products h2 {
  margin-top: 2rem;
}

.landing .product-list {
  grid-template-columns: repeat(4, 1fr);
}

.categories h3 {
  margin-bottom: 0;
}

@media only screen and (max-width: 1020px) {
  .landing .product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media only screen and (max-width: 760px) {
  .landing .product-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 565px) {
  .hero {
    padding-left: 0;
    text-align: center;
  }

  .hero h2 {
    padding-top: 7rem;
  }

  .hero p {
    width: 90%;
    margin: auto;
  }
}

@media only screen and (max-width: 470px) {
  .landing .product-list {
    grid-template-columns: 1fr;
  }
}
